<div class="overlayy overlay-color ">
<div class="container">
    <h1 class="about-head">Travel planning at your fingertips</h1>
<div class="d-flex justify-content-center about-banner">
    <img class="rounded" src="assets/images/about.png" alt="">
</div>
<div class="d-flex">
    <div>
        <h4>Keeping it simple</h4>
        <p class="left-w">We come together each day to fulfill a promise of offering the single most comprehensive travel experience to users, through award-winning Mobile and Desktop solutions. With intuitive products that have the largest selection of flights and hotels, we keep customers at the center of everything we do.</p>
        <p>
        <svg class="color m-2" viewBox="0 0 20 20" height="40" width="40"><path d="M17.44 1.39l.04.042a1.538 1.538 0 010 2.115l-4.172 4.392 2.646 7.511a.506.506 0 01-.057.45l-.06.073-1.646 1.663-3.935-6.483-3.968 4.178.741 1.864c.064.16.04.34-.055.477l-.055.065L5.67 19l-1.87-2.926-2.898-1.887 1.251-1.263a.494.494 0 01.537-.111l1.426.577 4.128-4.346-6.618-4.096L3.27 3.286a.494.494 0 01.518-.118l7.483 2.687 4.2-4.423a1.382 1.382 0 011.967-.041z" fill="currentColor" id="prefix__flights" stroke="none" stroke-width="1" fill-rule="evenodd"></path></svg>
        <svg class="color" viewBox="0 0 20 20" height="40" width="40"><path d="M1.25 3c.69 0 1.25.56 1.25 1.25V12H20v5h-2.5v-2.5h-15V17H0V4.25C0 3.56.56 3 1.25 3zM19 6a1 1 0 011 1v4H5a1 1 0 010-2h3V7a1 1 0 011-1h10zM5.503 4.5a1.75 1.75 0 110 3.5 1.75 1.75 0 010-3.5z" fill="currentColor" id="prefix__hotels" stroke="none" stroke-width="1" fill-rule="evenodd"></path></svg>
        </p>
        <a class="btn btn-primary" href="https://careers.cleartrip.com/#!/">Come work with us →</a>
    </div>
    <div>
        <h4>Behind the screens</h4>
        <p>Our leadership team is an eclectic mix, that is driven by values important to us. Their constant endeavor is to keep innovating and provide a best-in-class customer experience.</p>
        <img class="p-1" src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto/offermgmt/images/banner/Ayyapan.png" width="100px">
        <img class="p-1" src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto/offermgmt/images/banner/Prahlad.png" width="100px">
        <img class="p-1" src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto/offermgmt/images/banner/Ganesh.png" width="100px">
        <img class="p-1" src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto/offermgmt/images/banner/Karthik2.png" width="100px">
        <img class="p-1" src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto/offermgmt/images/banner/Aditya.png" width="100px">
        <img class="p-1" src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto/offermgmt/images/banner/Kunal.png" width="100px">
        <img class="p-1" src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto/offermgmt/images/banner/Ajay.png" width="100px">
    </div>
    <hr>
</div>
<div>
    <h4>At your service. Anywhere. Anytime</h4>
    <div>
        <a href="https://www.facebook.com/cleartrip" class="btn btn-primary m-2 facebook"><i class="fa-brands fa-facebook p-2"></i>Connect with us on Facebook</a>
        <a href="https://x.com/Cleartrip" class="btn btn-primary m-2 twitter"><i class="fa-brands fa-twitter p-2"></i>Connect with us on Twitter</a>
        <a href="https://linkedin.com/company/cleartrip.com" class="btn btn-primary m-2 linkedin"><i class="fa-brands fa-linkedin p-2"></i>Connect with us on LinkedIn</a>
    </div>
    <p>We’re never too far away from you. Give us a shout for any assistance on new bookings, cancellations or amendments, and we’ll spring into action immediately, because we are wherever you are.</p>
    <a class="btn btn-primary m-2" href="../contact/">Contact Us →</a>
</div>
</div>
</div>