<!-- <h1 class="home-title text-primary">Welcome to <span class="home-span">Cleartrip!</span></h1> -->
<div class="overlay">
  <div class="overlay-color br">
  <h1 class="home-title">Welcome to <span class="home-span">{{brand}}!</span></h1>
  <p class="lead home-p">Cleartrip streamlines travel planning with an easy-to-use platform for booking flights, hotels, and activities. Enjoy exclusive deals and 24/7 customer support, ensuring a smooth and stress-free travel experience from start to finish, all in one convenient place.</p>
  <a [routerLink]="['/booking']"><button class="btn home-btn">Book Now</button></a>
</div>
</div>
<!-- <img src="assets/images/photo.JPG" width="200px" /> -->